# Xcode
**/xcuserdata/
**/xcuserdata/*.xcuserstate
**/xcuserdata/*.xccheckout
**/DerivedData/
**/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcscmblueprint
.DS_Store
Calendar/.DS_Store

# Swift Package Manager
.build/
# *.xcodeproj/*
Packages/
.package.resolved
